:root {
    --footer-bg-color: #227093;
    --button-hover-bg-color: #66a549;
    --button-bg-color: #8dd12f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 767px) {
     div#texto {
        justify-content: center;
        align-items: flex-start;
    }

    div#texto {
        justify-content: center;
        align-items: center;
        margin: 7rem auto;
        width: 25rem;
        height: 20rem;
    }

    div#texto {
        color: var(--text-color);
        text-align: center;
        background-color: transparent;
    }

    div.articleSection {
        display: block;
    }

    div.article_setion_01 {
        width: 100%;
    }

    div.article_setion_02 {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    footer ul.navbar-nav {
        display: block;
    }
}

div.boxText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div button.btnSend {
    border: none;
    padding: 1rem;
    color: var(--secondary-color);
    background-color: var(--button-bg-color);
}

div button.btnSend:hover {
    border: none;
    padding: 1rem;
    background-color: var(--button-hover-bg-color);
}


footer {
    display: flex;
    justify-content: center;
    background-color: var(--footer-bg-color);
}

footer div.containerFooter {
    width: 60%;
}

footer ul.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
